*{
	margin: 0px;
}
#app {
	color: #2c3e50;
}
#header{
	padding: 8px;
}
#header img{
	float: left;
	width: 30px;
	margin: 6px;
}
#header .link{
	float: right;
	padding: 10px;
}

#header .link>a{
	display: inline-block;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
}
#footer{
	text-align: center;
}
.gallery-top img{
	width: 100%;
}
